
// /* Variables */

// //Fonts:
// $text-one:      'Inconsolata', monospace;
// $text-two:       'Signika', sans-serif;

// //Colors:
// $color-one:      #0097e6;
// $color-two:      #33d9b2;
// $color-three:    #ff5252;
// $color-text-one: #fff;
// $color-text-two: #2c2c54;

// //Others:
// $transition: all 0.5s;


// /* GLOBAL */
// *, *::before, *::after {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }

// body {
//     margin: 0;
//     padding: 0;
//     font-size: 16px;
//     line-height: 1.7;
//     font-family: $text-one;
//     color: $color-text-two;
// }

// .container {
//     max-width: 1140px;
//     padding: 0 20px;
// }

// section {
//     padding: 96px 10vw;
// }

// .section-title {
//     margin: 0 0 72px 0;
//     font-size: 48px;
// }

// .btn {
//     display: inline-block;
//     background-position: 100% 0;
//     background-size: 300%;
//     min-width: 160px;
//     margin: 24px auto 0 auto;
//     padding: 16px;
//     border-radius: 5px;
//     border-width: 2px;
//     border-style: solid;
//     font-family: $text-one;
//     text-align: center;
//     text-decoration: none;
//     cursor: pointer;
// }

// .btn:hover {
//     background-position: 0 100%;
//     color: $color-text-one;
//     transition: $transition;
// }
// .btn-one {
//     border-color: $color-text-one;
//     color: $color-text-one;
//     background-image: linear-gradient(90deg, $color-text-one 50%, transparent 50%);
// }

// .btn-one:hover{
//     color: $color-text-two;
// }


// /* WORK */
// .projects-wrapper {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }

// .projects-wrapper > [class^="proj-"] {
//     position: relative;
//     flex: 0 0 50%;
//     min-height: 300px;
// }

// .proj-image {
//     position: absolute;
//     z-index: 1;
//     width: 50%;
//     max-width: 250px;
//     height: 100%;
//     overflow: hidden;
// }

// .proj-image .img {
//     background-color: red;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

// .proj-description {
//     height: 100%;
//     padding: 0;
//     padding-left: 50%;
//     background-color: blue;
// }

p{
    margin: 300px;
    position: relative;

}

p::after {
content: '';
position: absolute;
left: 50px;
width: 50px;
height: 100px;
background-color: aqua;
}