/* CSS property declaration placement:
1. Position
2. Box-properties
3. Rest variables
*/


/* Variables */

//Fonts:
$text-one:      'Inconsolata', monospace;
$text-two:       'Signika', sans-serif;

//Colors:
$color-one:      #0097e6;
$color-two:      #33d9b2;
$color-three:    #ff5252;
$color-text-one: #fff;
$color-text-two: #2c2c54;

//Others:
$transition: all 0.5s;


/* GLOBAL */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $text-one;
    color: $color-text-two;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
}

section {
    padding: 96px 10vw;
}

.section-title {
    margin: 0 0 72px 0;
    font-size: 48px;
}

.btn {
    display: inline-block;
    background-position: 100% 0;
    background-size: 300%;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    font-family: $text-one;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-position: 0 100%;
    color: $color-text-one;
    transition: $transition;
}
.btn-one {
    border-color: $color-text-one;
    color: $color-text-one;
    background-image: linear-gradient(90deg, $color-text-one 50%, transparent 50%);
}

.btn-one:hover{
    color: $color-text-two;
}

/* NAVIGATION */

.navigation {
    background-color: $color-one;
    padding: 12px 10vw;
}

.navigation ul {
    list-style: none;
}

.navigation li {
    display: inline-block;
    margin-right: 36px;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: $color-text-one;
}

.navigation a:hover{
    color: $color-two;
}

.navigation li ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding-top: 12px;
    background-color: $color-text-one;
}

.navigation li:hover ul {
    display: block;
    text-align: center;
}

.navigation ul ul a{
    display: block;
    padding: 0 24px;
    color: $color-three;

}
.navigation ul ul a:hover{
    color: $color-one;
}


/* HEADER */
.splash {
    display: flex;
    min-height: 500px;
    padding: 0 10vw;
    background-color: $color-one;
    color: $color-text-one;

}

.splash-inner .page-title {
    margin: 0;
    font-size: 72px;
    word-spacing: -24px;
    font-weight: 700;
    line-height: 1.2;
}
.splash-inner .page-title span {
font-size: 80px;
}
.splash-inner .page-subtitle {
    margin: 24px 0;
    font-size: 16px;
    font-weight: 400;
}


/* SERVICES */

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.services-wrapper > div {
    flex: 0 0 33.333%;
    position: relative;
}

.services-wrapper > div .service-number {
    font-size: 144px;
    line-height: 0.6;
    opacity: 0.5;
    color: $color-two;
    font-family: $text-two;
    position: absolute;
    z-index: -1;
}


.buttons-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.button-container {
    flex: 0 0 33.333%;
    position: absolute;
    bottom: -100px;
}
.btn-two{
    border-color: $color-two;
    color: $color-two;
}
.btn-two:hover{
    background-color: $color-two;
}

.btn-three{
    border-color: $color-three;
    color: $color-three;
}
.btn-three:hover{
    background-color: $color-three;
}

.btn-four{
    border-color: $color-one;
    color: $color-one;
}
.btn-four:hover{
    background-color: $color-one;
}

/* WORK */
.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-wrapper > [class^="proj-"] {
    position: relative;
    flex: 0 0 50%;
    min-height: 300px;
    margin-bottom: 96px;
}


.proj-image {
    position: absolute;
    z-index: 1;
    width: 50%;
    max-width: 250px;
    height: 100%;
}

.proj-image:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    background-color: $color-two;
    opacity: 0.3;
}   
.proj-image:hover::after {
    top: 0;
    left: 0;
    transition: $transition;
}   

.proj-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proj-description {
    width: 100%;
    padding-left: 50%;
    text-align: left;
}

.proj-description p:last-of-type{
    font-weight: 700;
}

.btn-five {
    margin: 36px 0;
    padding: 0;
    text-align: left;
    background-color: transparent;
    font-weight: 700;
    color: $color-text-two;
    border: none;
}

.btn-five:hover {
    color: $color-two;
}

/* CONTACT */
.form {
    background-color: $color-one;
    color: $color-text-one;
}
.form > .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: transparent;
}

.contact-form {
    flex: 0 0 2;
    min-width: 400px;
    padding-right: 95px;
    background-color: transparent;
}

.contact-data-wrapper {
    flex: 0 0 1;
    background-color: transparent;
}

form input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid $color-text-one;
    color: $color-text-one;
    cursor: pointer;   
}

form textarea {
    height: 200px;
}

/* Footer */
.footer {
    background-color: $color-text-one;
    padding: 48px 0;
    text-align: center;

}
.footer li {
    display: inline-block;
    list-style-type: none;
    font-size: 0;
}

.footer i {
    font-size: 30px;
    background-color: $color-three;
    color: $color-text-one;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
}

@media (max-width: 767px) {

    section {
        padding: 36px 3vw;
    }

    .services-wrapper, .buttons-wrapper, .projects-wrapper, .form > .container {
        flex-direction: column;
    }
    .splash {
    min-height: 400px;
    }

    .splash-inner {
        width: 100%;
    }

    .splash-inner .page-title, .splash-inner .page-title span  {
        font-size: 50px;
        display: block;
    }

    .button-container {
        position: static;
    }

    .proj-image {
        position: relative;
       width: 100%;
        height: 150px;
    }

    .services-wrapper > div {
        margin-bottom: 75px;
    }

    .proj-description {
        padding: 8%;
    }

    .contact-form {
        min-width: 300px;
    }
}


