body {
    margin: 0px;
}

.hero {
    color: #ffffff;
    background: #222f3e;
    padding: 50px 0px;
    text-align: center;
}

section {
    padding: 36px;
}

.container {
    max-width: 900px;
    margin: 0px auto;
}

img {
    display: inline-block;
    max-width: 48%;
}

.info {
    background: #c8d6e5;
}

.links {
    color: #ee5253;
}